<div class="container px-5">
   <div class="row">

     <%= render 'books/list' %>

    <div class=col-9>
      <h2>Books detail</h2>
       <table class="table table-hover table-inverse">

        <tbody>
          <tr>
           <td>
            <%= link_to user_path(current_user.id) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 10, 10, fallback: "no_image.jpg", size:'40x40' %>
            <% end %>
           </td>
           <td>
            <%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
           </td>
           <td><%= @book.body %></td>
           <% if @book.user == current_user %>
           <td>
             <button type="button" class="btn btn-outline-secondary">
              <%= link_to edit_book_path(@book.id), class:'nav-link text-light' do %>
              <i>edit</i>
              <% end %>
             </button>
           </td>
           <td>
             <button type="button" class="btn btn-outline-secondary">
              <%= link_to book_path(@book.id), method: :delete, class:'nav-link text-light' do %>
              <i>delete</i>
              <% end %>
             </button>
           </td>
           <% end %>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
 </div>